.logo {
    width: 250px;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul {
    list-style: none;
    line-height: 60px;
}

header ul li {
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
}

h2 {
    border-left: 5px solid black;
    border-bottom: 1px solid black;
}

.main_container {
    margin: 0 auto;
}

.left {
    float: left;
    width: 65%;
    margin-right: 50px;
    margin-left: 50px;
}

form {
    background-color: #fbfbfb;
    margin-bottom: 30px;
    border: 3px #ebebeb solid;
}

form h3 {
    border-left: 5px solid red;
}

.kiji {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    width: 100%;
}

.kiji h3 {
    border-bottom: solid 2px lightgray;
}

.contents {
    margin: 5px;
    padding-bottom: 5px;
}

.handlename{
    font-size: 12px;
}

.right {
    float: left;
    width: 25%;
}

.right ul {
    list-style-type: none;
    margin-left: -35px;
    margin-top: -10px;
    line-height: 30px;
}

.right h3 {
    border-bottom: 1px dotted black; 
}

.right  ul li {
    margin-left: 10px;
}

footer {
    clear: left;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}